* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #FFF;
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
}
.site {
  font-size: 115%;
  text-align: justify;
  width: 24em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}
img{
  max-width: 100%;
}
a         { color: #333; }
a:hover   { color: #08c; text-decoration: none;}
#site-name a{
  font-size: 45px;
  color: #ff6600;
  font-weight: bold;
}

#author-name{
  font-size: 22px;
  padding:10px 0;
}
#contact-info{
  padding-bottom: 20px;
}
.post-title h2 {
  font-size: 32px;
  padding-bottom: 3px;
  border-bottom: 1px #ccc solid;
}
.post-date {                                                                        
  color: #aaa;
}             
#footer{
  margin-top: 100px;
  padding: 10px 0 20px 0;
  border-top: 1px #ff6600 solid;
}
#category, #tag {
  color: #08c;
}
#category a {
  color: #ff6600;
}
#tag a {
  color: #ff6600;
}
.tab-content{
  padding-top:10px;
}
.badge { 
  color: #08c; 
}
#c-title{
  color: #ff6600;
}
#t-title{
  color: #ff6600;
}